[Unit]
Description=wildlens watchdog timer (every 2 min)

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s

[Install]
WantedBy=timers.target
